@import "airpicker-config";

/* -------------------------------------------------
    Navigation
   ------------------------------------------------- */

.airpicker--nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid map_get($airpickerBorderColor, nav);
  min-height: $airpickerNavigationHeight;
  padding: $airpickerPadding;

  .-only-timepicker- & {
    display: none;
  }
}

.airpicker--nav-title,
.airpicker--nav-action {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.airpicker--nav-action {
  width: $airpickerDayCellSize;
  border-radius: $airpickerBorderRadius;
  user-select: none;

  &:hover {
    background: map_get($airpickerBG, hover);
  }

  &.-disabled- {
    visibility: hidden;
  }

  svg {
    width: em(32, 14);
    height: em(32, 14);
  }

  path {
    fill: none;
    stroke: map_get($airpickerTextColor, navArrows);
    stroke-width: em(2, 14);
  }
}

.airpicker--nav-title {
  border-radius: $airpickerBorderRadius;
  padding: 0 em(8, 14);

  i {
    font-style: normal;
    color: map_get($airpickerTextColor, navArrows);
    margin-left: em(5, 14);
  }

  &:hover {
    background: map_get($airpickerBG, hover);
  }

  &.-disabled- {
    cursor: default;
    background: none;
  }
}

//  Buttons
// -------------------------------------------------

.airpicker--buttons {
  display: flex;
  padding: $airpickerPadding;
  border-top: 1px solid map_get($airpickerBorderColor, nav);
}

.airpicker--button {
  color: map_get($airpickerTextColor, currentDate);
  cursor: pointer;
  border-radius: $airpickerBorderRadius;
  flex: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: em(32, 14);

  &:hover {
    color: map_get($airpickerTextColor, common);
    background: map_get($airpickerBG, hover);
  }
}